---
import Container from "@components/container.astro";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import DarkLightSwitch from "@components/DarkLightSwitch.astro";

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Blog",
    path: "/blog",
    children: [
      {
        title: "Noticias",
        path: "/blog/Noticias",
      },
      {
        title: "Tutorial",
        path: "/blog/Tutorial",
      },
      {
        title: "Cursos",
        path: "/blog/Cursos",
      },
    ],
  },
  {
    title: "Contact",
    path: "/contact",
  },
];
---

<Container>
  <header
    class="flex flex-col lg:flex-row items-center justify-between w-full py-5">
    <div class="flex items-center justify-between w-full lg:w-auto">
      <a href="/" class="text-lg flex items-center">
        <span class="font-bold text-slate-800">Tecno</span>
        <span class="text-slate-500 ml-1">Despegue</span>
      </a>
      <div class="lg:hidden">
        <MenuIcon class="w-4 h-4" />
      </div>
    </div>

    <Astronav>
      <MenuItems class="hidden lg:flex lg:gap-4 mt-4 lg:mt-0">
        <ul class="flex flex-col lg:flex-row">
          {
            menuitems.map((item, index) => (
              <>
                {item.children ? (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                ) : (
                  <li>
                    <a
                      href={item.path}
                      class="px-2 py-2 text-gray-600 hover:text-gray-900"
                      id="link">
                      {item.title}
                    </a>
                  </li>
                )}
              </>
            ))
          }
        </ul>
      </MenuItems>
      <DarkLightSwitch />
    </Astronav>
  </header>
</Container>
