---
import { handleButtonClick } from "../utils/buttonRegister.js";
---

<button id="login-button" class="button" onclick="handleLoginClick()">Login</button>
<button id="register-button" class="button" onclick="handleRegisterClick()">Register</button>