<div class="fixed bottom-8 right-8 z-50">
  <a
    href="https://wa.me/+542334423707"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center justify-center w-14 h-14 bg-green-500 text-white rounded-full hover:bg-green-600 shadow-lg transition-transform transform hover:scale-110">
    <img
      src="https://i.postimg.cc/V6TMv1H6/whatsapp-svgrepo-com.png"
      alt="WhatsApp Icon"
      class="w-8 h-8"
    />
    <!--imagen del sitio personalizada -->
  </a>
</div>
